$color-white: #fff;

$color-blue: #009FE3;
$color-blue-2: #1490DF;
$color-blue-3: #2BC6FF;

$color-blue-light: #F7F8FB;
$color-blue-light-2: #E2F3FC;

$color-navy-blue: #232B76;
$color-navy-blue-2: #042164;
$coor-navy-blue-3:#2A276E;
$color-navy-blue-4:#5073BD;
$color-navy-blue-5:#15215A;

$color-black-1:#231F20;
$color-black-3: #333333;
$color-black-6: #666666;
$color-black-5: #000000;

$color-gray-light:#707070;
$color-gray-light-2:#F5F5F5;
$color-blue-light-3:#555555;
$color-gray-light-3:#E5E6E7;
$color-gray-light-4:#6D6E71;


$color-orange:#F88F25;

$color-yellow:#F1CB17;

$color-red:#9E1E21;

$color-purple:#713F98;