.footer {
    width: 100%;
    min-height: 100px;
    border-top: 1px solid rgba($color-gray-light, 0.30);
    background-color: $color-gray-light-4;
    padding: 2.5rem 0;

    @include media766 {
        padding: 2.5rem 2rem;
    }

    &__img {
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        display: table;
    }

    &__info {
        font-size: 13px;
        color: #ffffffed;
        font-family: 'ArialMT', sans-serif;

        @include media766 {
            text-align: left;
            margin: 1rem 0;
            font-size: 11px;
        }
    }

    &__link {
        color: #ffffffed;
        text-decoration: underline;

        &:hover {
            color: #ffffffed;
        }
    }


    &__code {
        font-size: 1em;
        color: $color-black-3;
        text-align: right;

        @include media767 {
            text-align: center;
        }
    }

    &__contanct {
        color: $color-white;
        text-align: center;
        font-family: 'MontserratSemiBold', sans-serif;
        margin: 2rem 0 0;
    }

    &__middle {
        color: $color-white;
        text-align: center;
        font-family: 'MontserratSemiBold', sans-serif;
        margin: 2rem 0 0;
    }

    &__aviso {
        color: $color-white;
        text-align: center;
        font-family: 'MontserratSemiBold', sans-serif;
        margin: 2rem 0 0;
    }

    &__cme {
        color: $color-white;
        text-align: center;
        font-family: 'MontserratSemiBold', sans-serif;
        margin: 2rem 0 0;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    &__icon {
        width: 48px;
        margin: 0 .5rem;
    }
}